*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: .5s ease-in-out;
}

body{
	background: url(bac-nd2.png);
    background-size: 100%;
   	font-size: 14px;
}

.head_text{
	padding: 1.5vw;
	font-size: 3vw;
	text-align: center;
	color: #E24C0B;
}

.stic{
	background: #FFB78E;
	width: 99.8%;
	height: 1.5vw;
}

.div_but{
	float: right;
}

.div_1{
	background: #FFA06A;
	width: 33vw;
	padding-left: 5px;
	padding-bottom: 0.5vw;
	margin-top: 6vw;
	margin-left: 5vw;
	font-size: 20px;
	height: 100%;
	display: block;
	display: inline-block;
}

.but_arrow{
	width: 4vw;
	height: 4vw;
	float: left;
	background: #FFA06A; 
	border-color: white;
}

.img_1{
	width: 3vw;
	height: 3vw;
}

#but{
	width: 5.5vw;
	height: 5.5vw;
	border-radius: 50px 50px;
	background: #FFA06A;	
	font-size: 50px;
	color: white;
}

.but_1{
	margin-right: 40vw;
	margin-top: 2vw;
}

.but_2{
	margin-left: 20vw;
}

.but_3{
	margin-left: 30vw;
}

.but_4{
	margin-left: 20vw; 
}

.but_5{
	margin-right: 40vw;
}

@media (max-width: 1000px){
	.img_1{
		width: 9vw;
		height: 9vw;
		right: 0vw;
	}

	.head_text{
		display: none;
	}

	.stic{
		display: none;
	}

	.but_arrow{
		width: 10vw;
		height: 10vw;	
	}
	.div_but{
		float: left;
		margin-top: 3vw;
	}

	.div_1{
		width: 100%;
		margin-top: 6vw;
		margin-left: 0vw;
		font-size: 200%;
	}

	#but{
		width: 15vw;
		height: 15vw;	
		border-radius: 90px 90px;	
		font-size: 500%;
	}

	.but_1{
		margin-right: 40vw;
		margin-top: 2vw;
	}

	.but_2{
		margin-left: 20vw;	
	}

	.but_3{
		margin-left: 50vw;	
	}

	.but_4{
		margin-left: 20vw;
	}

	.but_5{
		margin-right:  10vw;
	}
}