*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: .5s ease-in-out;
}

body{
	background: url(bac-nd2.png);
    background-size: 100%;
   	line-height: 1;
}

.all_div{
	display: none;
}

.head_text{
	padding: 1.5vw;
	font-size: 3vw;
	text-align: center;
	color: #E24C0B;
}

.stic{
	background: #FFB78E;
	width: 99.8%;
	height: 1.5vw;
}

#div{
	position: absolute;
	width: 30vw;
	left: 3vw;	
	font-size: 1.5vw;
	background: #FFA06A;
}

.div_1{
	top: 12vw;
}

.div_2{
	top: 27vw;
}

.but_arrow{
	width: 4vw;
	height: 4vw;
	float: left;
	background: #FFA06A;
	border-color: white;
}

.img_1{
	width: 3vw;
	height: 3vw;
}

.img_2{
	position: absolute;
	width: 30vw;
	height: 30vw;
	left: 50vw;
	top: 12vw;
}

#but{
	position: absolute;
	width: 3vw;
	height: 3vw;	
	top: 24vw;
	background: #FF6332;
	border-radius: 50px 50px;
	border: 3px solid #FFFFFF;
	box-sizing: border-box;
}

.but_1{
	left: 55vw;
}

.but_2{
	left: 71vw;
}

@media (max-width: 1000px){
	.img_1{
		width: 9vw;
		height: 9vw;
		right: 0vw;
	}

	.head_text{
		display: none;
	}

	.stic{
		display: none;
	}

	.but_arrow{
		width: 10vw;
		height: 10vw;	
	}

	#div{
		display: none;
	}

	.img_2{
		position: absolute;
		width: 100%;
		height: 100vw;
		left: 0vw;
		top: 72%;		
	}

	#but{
		position: absolute;
		width: 10vw;
		height: 10vw;		
		top: 117%;
		background: #FF6332;
		border-radius: 50px 50px;
		border: 3px solid #FFFFFF;
		box-sizing: border-box;
	}

	.but_1{
		left: 15vw;
	}

	.but_2{
		left: 66vw;
	}

	.all_div{
		display: block;
		position: absolute;
		width: 100%;
		left: 0vw;
		top: 14%;
		font-size: 200%;
		background: #FFA06A;
	}
}