*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: .5s ease-in-out;
}

body{
	background: url(bac-nd2.png);
    background-size: 100%;
}

.head_text{
	padding: 1.5vw;
	font-size: 3vw;	
	color: #E24C0B;
}

.stic{
	background: #FFB78E;
	width: 99.8%;
	height: 1.5vw;
}

#div{
	position: absolute;
	background: #FFA06A;
	width: 30vw;
	padding-left: 5px;
	padding-bottom: 0.5vw;
	left: 5vw;
	display: block;
	display: inline-block;	
}

.div_1{
	margin-top: 3vw;
	font-size: 20px;
}

.div_2{
	margin-top: 15vw;
	font-size: 20px;
}

.div_3{
	margin-top: 29vw;
	font-size: 20px;
}

#but{
	background: #FFA06A;
	border-color: white;
}

.but_arrow{
	width: 4vw;
	float: left;
}

.but_next{
	width: 10vw;
	height: 4vw;
	float: right;	
	color: white;
	font-size: 2vw;
}

.but_1{
	color: white;
	width: 8vw;
	height: 4vw;
	float: right;
	font-size: 1.5vw;	
}

.img_1{
	width: 3vw;
	height: 3vw;
}

.img_2{
	width: 42vw;
	display: block;
	display: inline-block;
	margin-right: 10vw;
	margin-top: 3vw;
	float: right;
}

.all_div{
	display: none;
}

@media (max-width: 1200px){
	.img_1{
		width: 9vw;
		height: 9vw;
		right: 0vw;
	}

	.head_text{
		display: none;
	}

	.stic{
		display: none;
	}

	.but_arrow{
		width: 10vw;
		height: 10vw;	
	}

	.but_next{
		width: 20vw;
		height: 9vw;
		font-size: 4vw;
	}

	body{
		background: url(bac-nd.png);
    	background-size: 100%;
	}

	#div{
		display: none;
	}

	.img_2{
		position: absolute;
		top: 60%;
		left: 0vw;
		width: 100%;
		height: 80vw;
	}

	.all_div{
		position: absolute;
		background: #FFA06A;
		width: 100%;
		padding-left: 5px;
		padding-bottom: 0.5vw;
		margin-top: 12%;
		left: 0vw;
		font-size: 150%;
		display: block;
	}
}